* {
  margin: 0;
}

.top {
  margin: 5em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top > h1 {
  font-size: 70px;
}

.tr > p,
button {
  margin: 1em;
}

button {
  background-color: black;
  border-style: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

button > span {
  color: white;
}

.img {
  display: flex;
  flex-direction: column;
  margin: 5em;
}
